@font-face {
    font-family: 'FonteMarca';
    src: url('../fonts/calora.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FonteMarca';
    src: url('../fonts/calora-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair";
}

body {
    color: #111;
    background-image: url('../imgsnotprod/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: system-ui, sans-serif;
    padding-top: 80px;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin: 60px 40px;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    flex-wrap: wrap;
}

nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    font-weight: 900;
    font-size: larger;
}

nav a:hover {
    color: #000;
}

/* Carrossel */
.carousel {
    text-align: center;
    padding: 30px 10px;
}

.slides {
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slides::-webkit-scrollbar {
    display: none;
}

.slides img {
    width: 15%;
    height: 10%;
    border-radius: 10px;
    transition: transform 0.1s;
}

.slides img:hover {
    transform: scale(1.05);
}

.carousel h2 {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Seções */
.section {
    text-align: center;
    margin: 40px 0;
}

.section h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
    color:#fff;
    font-family: 'FonteMarca', sans-serif;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    padding: 0 20px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.card img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.08);
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(100%);
    opacity: 0;
}

.card:hover .card-info {
    transform: translateY(0);
    opacity: 1;
}

.card-info h3 {
    margin-bottom: 5px;
    font-size: 1rem;
}

.card-info p {
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.card-info .btn,
.add-btn {
    display: inline-block;
    background: #ff4d6d;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.85rem;
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;

}

.card-info .btn:hover,
.add-btn:hover {
    background: #ff1a45;
    border: none;

}

.add-btn {
    margin-top: 8px;
    padding: 6px 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-logo {
        font-size: 90px;
        letter-spacing: -4px;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .slides img {
        width: 90px;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}
